EXTERNESERVICE_DB_CONNECTION=mongodb://localhost:27017/photoprestiges
PHOTOSERVICE_DB_CONNECTION=mongodb://localhost:27017/photo
USERSERVICE_DB_CONNECTION=mongodb://localhost:27017/user
AUTHENTICATIONSERVICE_DB_CONNECTION=mongodb://localhost:27017/auth

# SECRET KEY
JWT_SECRET=tasmanianDevil

MICROSERVICE_BASE_URL=http://localhost:3000

# External Service
PHOTO_SERVICE_URL=http://localhost:3012
USER_SERVICE_URL=http://localhost:3013
EXTERNAL_SERVICE_URL=http://localhost:3014
AUTHENTICATION_SERVICE_URL=http://localhost:3015